body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 81.25%;
    color: #323232;
    line-height: 1;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

img
{
    border: none;
}

.wrapparlogin
{
    width: 980px;
}

.header
{
    width: 96%;
    padding:25px 2% 0px 2%;
    background: url(../Images/Brand/headerback.jpg) 0px 0px no-repeat #fff;
    height: 56px;
    border-bottom:1px solid #6f0079;
}

.headerinner
{
    width: 98%;
    padding:0px 0% 0px 2%;
    background: url(../Images/Brand/headerback.jpg) 0px 0px no-repeat #fff;
    height: 81px;
    border-bottom:1px solid #6f0079;
}

.companylogo
{
    padding-top:25px;
}

.applogo
{
    padding-top:15px;
    padding-right:20px;
    padding-bottom:8px;
    width:245px;
}

.signin-box
{
    margin: 0px 0 0;
    padding: 15px 25px;
    background: #758a12;
    color:#fff;
    height:306px;
}

.signin-box .usercode-label, .signin-box .password-label
{
    font-weight: bold;
    margin: 0 0 .5em;
    display: block;
}


.signin-box div
{
    margin: 0 0 1em;
}

.signin-box label
{
    display: block;
}

.signin-box input[type=usercode], .signin-box input[type=text], .signin-box input[type=password]
{
    width: 200px;
    height: 25px;
    font-size: 15px;
    direction: ltr;
}

.signin-box .usercode-label, .signin-box .password-label
{
    font-weight: bold;
    margin: 0 0 .5em;
    display: block;
}

.signin-box label.remember
{
    display: inline-block;
    vertical-align: top;
    margin: 9px 0 0;
}

.signin-box .remember-label
{
    font-weight: normal;
    color: #666;
    line-height: 0;
    padding: 0 0 0 .4em;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.signin-box input[type=submit]
{
    height: 25px;
    font-size: 13px;
}

.signin-box ul
{
    margin: 0;
    list-style: none;
    padding: 0px;
}

.signin-box ul li
{
    padding-top: 15px;
}

.signin-box ul li a
{
    text-decoration: none;
    color: #f3f3f3;
}

.g-button
{
    border: 1px solid #3b0249;
    color: #fff;
    background:#631c75!important;
    margin-top:7px;
}

.mail
{
    margin: 0px 0 0;
    padding: 0px 0px;
    overflow: hidden;
}

.mail h4.mail-hero-heading
{
    color: #777;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 15px;
    width: 270px;
    text-align: justify;
}

.mail .mail-hero-right
{
    float: left;
    width: 200px;
    padding:0px 20px;
    width:292px;
}

.greentext
{
    color: #758a12;
}

.sign-in
{
    width: 300px;
    float: right;
}

.main
{
    margin: 0 auto;
    width:100%;
    padding: 15px 0 15px 0;  
    min-height:500px;
    background:url(../images/brand/bgrep.png) -10px 0px repeat;
}

.mymarquee
{
    margin: 15px auto 0px auto;
    padding: 10px;
    border: 2px solid #e5e5e5;
}

.mymarquee img
{
    height: 88px;
    padding: 0px 10px;
}

/*--------------Done for tabs purpose------------*/

.TabbedPanels {
	width: 350px;
	margin: 0px;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:auto;
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}
.TabbedPanelsTab {
	position: relative;
	color: #000;
	top: 0px;
	float: left;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	text-transform:capitalize;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-image: url(../Images/Brand/spriteme2.png);
	background-position: 0px -65px;
	background-repeat: repeat-x;
	border-left: 1px solid white;
	border-collapse:collapse;
	padding-top: 10px;
	padding-left:1px;
	padding-bottom: 10px;
	width:85px;
	text-align:center;
	vertical-align:middle;
	
}

.TabbedPanelsTabSelected {
	color: #FFF;
	background-image: url(../Images/Brand/spriteme2.png);
	background-position: 0px -10px;
	text-decoration:none;
}
.TabbedPanelsTabHover {
	background-image: url(../Images/Brand/yellow.gif);
	color: #000;
	text-decoration:none;
}
.TabbedPanelsTab a {
	color: #000000;
	text-decoration: none;
	
}
.TabbedPanelsContentGroup {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	clear: both;
	width:350px;	
}

#conetnt1
{
    margin:0px;padding:0px 15px;list-style-type:disc;
}

.listitem1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000; 
	text-align:justify;
	padding:0px 0px 2px 0px;
	list-style-type:disc;
	
}
.TabbedPanels .TabbedPanelsContent .content {
	width: 334px;
	height: 290px;
	overflow:auto;
	padding: 8px 8px 5px 8px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#323232; 
	font-size:11px; 
	text-align:justify;
	background:url(../Images/Brand/blue_back.jpg) repeat-x 0px 0px;
	line-height:18px;
}

.footer
{background:#631c75; text-align:center;font-size:11px;line-height:18px;color:#fff;}

.top-menu
{
    margin:0;
    padding:0;
    list-style:none;
}

.top-menu li
{
    margin:0;
    list-style:none;
    float:left;
    display:inline-block;
    border-right:1px solid #fff;
    font-size:13px;
    line-height:24px;
    background:#804690;
}

.top-menu li a
{
color:#fff;
text-decoration:none;
padding:0 10px;
}

.topmenucurve
{
    background:url(../Images/Brand/topmenucurve.png) 0px 0px no-repeat;
    padding-left:24px;
    height:24px;
}

span.welcome
{
    padding-left:70px;
    position:relative;
    bottom:10px;
    color:#cbf407;
}

span.welcome label
{
    color:#fff;
}

.content
{
    padding:10px;
}
