.container{
    margin-top: 180px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#legend {
    background: #1f497d none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #ddd;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 20px;
    padding: 5px 10px;
    width: 27%;
}
#cbox{
    height: 150px;
}
#link{
    margin: 20px;
    font-family: Castellar;
}




