.container{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid rgb(179, 176, 176);
}
label{
    font-weight: bold;
    color: black;
    font-size: 15px;
    font-family: Castellar;
    
}

input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    border:1px solid rgb(173, 167, 167);
    
}
button{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid gainsboro;
    background-color: #1f497d;
    color: white;
    font-size: 20px;
    font-family: Times New Roman;

}
button:hover{
    cursor: pointer;
}
#legend {
    background: #1f497d none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #ddd;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 20px;
    padding: 5px 10px;
    width: 27%;
    width: 300px;
}