.container{
    margin-top: 250px;
    margin-bottom: 50px;
}
.email{
    float: right;
    
}
#st{
    float: right;
    margin-top: 20px;
}

#sta{
    margin-right: 50px;
}

#state{
    width: 340px;
    margin-right: 0px;
    
}
#destrict{
    margin-top: 20px;
    margin-left: 0px;
}

#dest{
    margin-top: 35px;
}
#email{
    margin-top: 20px;
    margin-left: 0px;
}
#em{
    margin-top: 25px;
    margin-left: 0px;
}
#village_town{
    margin-top: -35px;
    margin-left: 735px;
   
}
#vill_town{
    margin-top: -30px;
    margin-left: 550px;
    
}