.container{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
table{
    width: 100%;
}

h2{
    border-radius: 20px;
    text-align: center;
    color: darkred;
    font-family: Algerian;
}

.tablerow{
    color: white;

}
