{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<body>
    <form method="post" action="./Login.aspx?ReturnUrl=%2f" onsubmit="javascript:return WebForm_OnSubmit();" id="form1" autocomplete="off">
<div class="aspNetHidden">
<input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="eIW4GqdCiqzgYEO0nJJkK8F7OXSl+5+3Y5Qft0gAEYDAZLxaDjnBj6zXGPlDUw7kqcILOxuHJoNIBfRuYz33ga7jENc=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZHY6OC18DCvqeZd8XfehBIlvqlDJu5na390GB7eU55SNrmJPrQ2&amp;t=637631720467544554" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=nv7asgRUU0tRmHNR2D6t1EBNgFUH6lw2yKisq2kHlweWfjNdPcMBagWtc8JQCTAK4A-X_q2jQZJgahLBXf1HU4DPsoa3ywD1XsVE172sbz3WzOBkuj9l2ocLtuHCHWEKl6BCqw2&amp;t=125d5fef" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=x6wALODbMJK5e0eRC_p1LSthuLxxU31xp04tf-u3goscvzinsG0-JEM-zFQy6IrKhmYBrBjNUFeSIKDvOQioc5YT2cS7KghkgALf4FQzXHE9v4fL0&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=P5lTttoqSeZXoYRLQMIScOVC7mhgWHikPPMMVPqQ4cXanJRmSP2mAa9BOvquuD3Tcdb-J5MaK9wYtQ97tMvyAVDduL78blVXi3mEmrtBABsXW6800&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=NHo7rzvB81m25b5lv-ojMb1lYRI-99mqWAd7Loc9n2FvS_AKIbhgC_div35BS_G6iNRQ1x33Sh7FGuiisHHa1LYa0x4hYnUQwMPQuD91eOhlZYOE0&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=cwGphBcvejt2VIyBHnRhTbZApsGbUtupoTAnJSNTrZ54IVvuAMCS6rZ4SgM2nGu1T6vRZqpEEvjB_e0YNHe5DnqEdGJyTO2dXx0fYPYUpsleKrbj0&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=ZT9rkJNR62Xa35oVFu0bre-skacXYR7-f23JcrfcbiDWfKdZX5kqMbZFe_xxuDq6xd4WVCc6MhLJhc2GJWFzxuFSqVhjOJMgEM1TCxvGyCoNwu4sPxM0LNLSjDOJMXAyZel_ig2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=G7OZOzpYF9XwHB8eN29Yb-WeNjraQKodJX-rqT2hCCFiUQPWE4Ys1HJoEYZPzgsnFFEAMvLEDpskY0vgtsnh98lAxQhgb3zIAVHDoFcSm3gdvT2sKzgUN7GlYjZR4pAfbZev-w2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=dyNR31g23bihdQsCIkXUOK5rQC2I1lMX7A5uOaHVaHeJ01BsfSqGsZs0vgixmF-tlwOtd4gXobW9PsuZP270L6evEqHnshaXgldORVKLkqaSFTcuvFlC8HDS5OilQGto4lGIBQ2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=t8xKct_NbNgBw-XPoRZ-nBG4g4EXtx7j2F_9H0KRBuDeqyolFl91wNE1ndC9KTHdHqH9h2CMKJwKb8hyB4FSh8I5S8_yRqnKK2mPofz8Rcbs4GdPW96WLczNlFMvO4UM9F7ykg2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=TLZ1vtjBxtO9Jbc2uVK03-CMPh0dlr61urA7V62457pOs-1Yqh9j93Ci72xlGK_A8iN-feIyExs62jSSu1z75Ahep7itbnfwngRXgmZIpZ7RfxU0MRZhFUIVGsCgogCgzt6dDg2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=IDWj4WSOOvkdPRnPVbJVZO6DQyp5cAp3O8MRtCwoGmrjMYew8WORITjnh4L1fTXGeEkOLiAKduKSo8msYRGJMaD4lrqCqm-oJ4XOXUilXzgnY0Kq0&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=QURf4xOsrV7WTJCWSccZWwqRapsJkVAfh3THJFmAH6nsyBlyRVdLvDri6D470nzUVMBV_z23vV75uOwVZOio3hs2MP99wuiH3WCSqbJIGKVX1pn33pGAF6dCDyl3F8pElBgeyw2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=APiGnkSUwteJqB7qVaRTTnohHs9aUXk-aqjy0MqcZJU1bl4Olj4562sOsncxooLiBPPjJ_4rZ4cFFQF3psz5yyHxqi4Ug35wciLwkaHm-4MS06Q9n-cgtBLGJD-5oFr9qomR5g2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=pu2ExBiwxefn6RsV2td6qxU0bX0koORQI2VwVtKiB0lxgYNbXGfkPuDY7tScaIt7fTHKJ83jDhMtOYGLU86qU439qSh0JzUtAuNUD7AfqTSlIxPVSuR8xR6lfHdmM1bot4K-Dw2&amp;t=7f16157c" type="text/javascript"></script>
<script src="/WebResource.axd?d=JoBkLzP19aTuxbWOhHobYsE8X2AZqJDMlRDE7_n1TzXQVSCz3CgwyBHsCoOLwzJJCzCHXw2&amp;t=637631720467544554" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C2EE9ABB" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="lpfP5vtOoExfPs7kjKKG5Y+a/+QgApfxD9RHJRBxn5nST5s8bWRrEL3mP5scogAw//b6nhwzkXyCxWed8+ctZL9YT9UC8GQQKGdIdYo6EDJnhTyzvoYj4DkR4WLo3YIr7fComv9QxUbMAHTBzYUWhrVfwXgJq7Iu47FE92SmdDir1c+b+I7hu+IEYrE4LZaW1mYA/wKL3LNjUYPZuIFiiiLbL0sbDe1NwvSC3Vh2yJTFW5M6N91cyDcjU2KDKCLRnACbxM1nj49sdHAZeQb6QMsdwDGtl/M7D0tufM9a6lM8Ea+Z" />
</div>
    <div class="header">
        <table cellpadding="0" cellspacing="0" width="100%" border="0">
            <tr>
                <td>
                    <img src="Images/Brand/fialogo.png" alt="" />
                </td>
                <td align="right" valign="top">
                    <img src="Images/Brand/applogo.png" width="250px" alt="" />
                </td>
            </tr>
        </table>
    </div>
    <div class="main">
        <table border="0" cellpadding="10" cellspacing="0" style="background: #fff; padding: 0;
            margin: 0 auto; width: 86%;">
            <tr>
                <td valign="top">
                    <div class="mail">
                        <div class="TabbedPanels" id="tp1">
                            <ul class="TabbedPanelsTabGroup">
                                  
                                <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0">About Us</li>
                                <li class="TabbedPanelsTab thirdTab" tabindex="0">Services</li>
                                <li class="TabbedPanelsTab lastTab" tabindex="0">Contact Us</li>
                            </ul>
                            <div class="TabbedPanelsContentGroup">
                                 

                                <div style="display: none;" class="TabbedPanelsContent">
                                    <div class="content">
                                         <p>FIA plans to elevate Asia's unserved geographies through its core vision of ‘economic and social inclusion’. We promote sustainable livelihood models and work with marginal communities, rural poor and women. FIA aggregates socially impactful products and services and delivers them to low income masses through our extensive distribution network of micro-entrepreneurs. FIA’s expertise lies in developing technology for mobility and online payment solutions for the masses, creating and managing distribution networks for delivering services to the last mile and implementing financial inclusion programs. </p>
                                       <p>SERVING THE UNSERVED OF ASIA The stark reality is that most poor people in the world still lack access to sustainable financial services, whether it is savings, credit or insurance. In India, this translates to 400 million people who manage their finances on a cash-only basis and have restricted or no access to financial services.</p>
                                       <p>The greatest challenge is to relax the constraints that exclude people from full participation in the financial sector. This is where FIA comes in. A company started by a team of students from MIT, FIA makes the economics work for banks to serve the underserved. FIA aims at popularizing the use of alternate technologies for enhancing the efficiency and security of financial transactions. Our award-winning model combines an extensive distribution channel and product portfolio to bridge the huge demand-supply gap for financial products and services in under-served geographies. </p>
                                        <p>FIA’s aim is to bring about an evolution in how the under-served can capitalize on the digital growth opportunity. Our goal is to create the largest network of FIA Inclusion Centers to enable individuals to avail an array of services – Financial inclusion, Skill Development, Livelihood Opportunities, Digital Payment Solutions and access other socially impactful products and services.</p>
                                    </div>
                                </div>
                                <div style="display: none;" class="TabbedPanelsContent">
                                    <div class="content">
                                        Customers can pay utility bills, buy insurance, remit money, recharge mobile bills
                                        or DTH TV, Book rail and air tickets etc.
                                        <br />
                                        Some of the services that we offer are:
                                        <ul id="conetnt1">
                                            <li class="listitem1">Banking</li>
                                            <li class="listitem1">Remittance</li>
                                            <li class="listitem1">Prepaid Recharge</li>
                                            <li class="listitem1">Postpaid Mobile Payments</li>
                                            <li class="listitem1">Utility Bill Payments</li>
                                            <li class="listitem1">Insurance</li>
                                            <li class="listitem1">Tickets</li>
                                             <li class="listitem1">Pancard Services</li>
<li class="listitem1">Nepal Money Transfer</li>
                                        </ul>
                                    </div>
                                </div>
                                 <div style="display: none;" class="TabbedPanelsContent">
                                    <div class="content">
                                        <b>FIA Technology Services Pvt. Ltd.</b>
                                        <br />
                                      Unit no. 504-507, 5th Floor JMD Megapolis Sohna Road
                                        <br />
                                        Sector 48, Gurgaon
                                        <br />
                                        Haryana, INDIA 122018
                                        <br />
                                        Tel: 0124-4993100, 01, 02
                                        <br />
                                        Fax: +91-0124-4993102
                                        <br />
                                        Email: <a href="mailto:ccare@fiaglobal.com">ccare@fiaglobal.com</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td valign="middle">
                    <div class="mail-hero-right">
                        <img src="Images/Brand/billpay.png" width="495" alt="" />
                    </div>
                </td>
                <td valign="top">
                    <div class="sign-in">
                        <div id="pnlLogin">
	
                            <div class="signin-box">
                                <h2 style="font-size: 20px; font-weight: normal; color: #f3f3f3;">
                                    Sign in</h2>
                                <hr style="border-color: #6b800b;" />
                                <div class="usercode-div" style="margin-top: 20px;">
                                    <strong class="usercode-label">UserCode</strong>
                                    <input name="txtUserCode" type="text" id="txtUserCode" autocomplete="off" onkeyup="return toUpper(this.id)" />
                                    <span id="rfvUserCode" class="star" style="display:none;">*</span>
                                </div>
                                <div class="password-div">
                                    <strong class="password-label">Password</strong>
                                    <input name="txtPassword" type="password" id="txtPassword" autocomplete="off" />
                                    <span id="rfvPassword" class="star" style="display:none;">*</span>
                                </div>
                                <input type="submit" name="btnLogin" value="Login" onclick="HashLogin();WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnLogin&quot;, &quot;&quot;, true, &quot;Group&quot;, &quot;&quot;, false, false))" id="btnLogin" class="g-button" />
                                <input type="submit" name="btnReset" value="Reset" id="btnReset" class="g-button" />
                                 <ul>
                           
                                    <li><a href="Anonym/PaynetzPolicy.aspx"><u>Privacy Policy</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="ForgotPwd.aspx"><u>Forgot Password?</u></a> </li>
                                    <br />
                                     
                                </ul>
                            </div>
                        
</div>
                        
                        
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
  
                <div>
               
                 <marquee class="mymarquee1"  onmouseover="stop();" onmouseout="start();">
                <h3>Published in Public Interest: This is for the information of all concerned and general public that , 'fiaglobal.com' is the only official website of FIA Technology Services Pvt. Ltd. 
FIA Technology Services Pvt. Ltd. does not have any other website to solicit application for CSP or for financial dealings with regard to appointment of agent, distributor or similar services.
FIA Technology Services Pvt. Ltd. is not responsible for information and funds shared basis links or data on fake websites that claims to have connection with the company FIA Technology Services Pvt. Ltd. 


Viewers and business partners are requested to highlight other websites, portals or links, that claims to be of FIA Technology, to the following email id: info@fiaglobal.com for immediate intervention.

 </h3>
                </marquee>
                </div>
                    <div>
                        <marquee class="mymarquee">
   <img src="Images/Partner/prabhu money.PNG" alt="" />
                           
                            <img src="Images/Partner/airtel.PNG" alt="" />
                            <img src="Images/Partner/bsnl.PNG" alt="" />
                         
                            <img src="Images/Partner/mtnl.PNG" alt="" />
                            <img src="Images/Partner/mts.PNG" alt="" />
                   
                            
                        </marquee>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endblock body %}