{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="../static/CSS/complaints.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/title_icon.png"/>
  <link rel="stylesheet" href="bootstrap_files/bootstrap.min.css">
  <script src="bootstrap_files/jquery.min.js"></script>
  <script src="bootstrap_files/js/bootstrap.min.js"></script>
  <style type="text/css">
  body{
  font-family: Times New Roman;
  color: #000000;
  }


  </style>
</head>
<body>
<div class="container" style="padding-bottom:20px; padding-top: 10px;">
  <div class="row">
    <div class="col-sm-12" style="border:2px solid rgb(133, 129, 129); border-radius:10px 10px 0px 0px; text-align: center;text-transform:capitalize;">
    <br>
    
      <br>
    </div>
    
    <div class="col-sm-12" style="border:2px solid rgb(133, 129, 129); border-radius:0px 0px 10px 10px; text-align: center; " id="cbox">
    <p id="legend">Complaint Box</p>
      <p id="link" class="as_guest"><a href="guest"><h2><strong style="color: #1F497D">As a Guest</strong></h2></a></p>
      <p id="link" class="existing"><a href="existing_csp"><h2><strong style="color: #1F497D">Existing CSP</strong></h2></a></p>
    </div>
  </div>
</div>

</body>
</html>




{% endblock body %}