{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../static/CSS/existing_csp.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Existing CSP</title>
</head>
<body>
  
  <div class="container">
    
    <p id="legend">CSP Complaint Box</p>
    <div class="search-field">
      <label for="search-field">Enter your Agent Code Code</label><br><br>
      <input type="text" name="search-field" id="searchform" placeholder="AG000000"><br><br>
      <button type="submit">Submit</button>

    </div>

    
</div>

</body>
  </div>
  
</body>
</html>

{% endblock body %}