{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}



<!DOCTYPE html>




<html lang="en">
<head>
  <title>Guest Complain Form</title>
  <link rel="stylesheet" href="../static/CSS/guest.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../static/compaints/ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
 <script src="../static/compaints/complaint/js/form-validation.js"></script>
<script src="../static/compaints/complaint/js/jquery.validate.min.js"></script>
<script src="../static/compaints/complaint/js/my_ajax.js"></script>
<script src="../static/compaints/complaint/bootstrap_files/jquery.min.js"></script>
<link rel="stylesheet" href="../static/compaints/complaint/bootstrap_files/bootstrap.min.css">
<script src="../static/compaints/complaint/bootstrap_files/js/bootstrap.min.js"></script>
  <style type="text/css">
  body{
  font-family: Times New Roman;
  color: #000000;
  }

#astric{
color: red;
}
#legend {
    background: #1f497d none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #ddd;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    padding: 5px 10px;
    width: 27%
}
  </style>
</head>
<body>
<div class="container" style="padding-bottom:20px; padding-top: 10px;">
  <div class="row">
   
  <form action="/thankyou" method="post" name="myform">  
 <div class="col-sm-12" style="border:2px solid rgb(219, 214, 214); text-align: center; ">
    <p id="legend">Guest Details</p>

    <div class="col-sm-12">
      <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name <span id="astric">*</span></label>
          <div class="col-sm-4" id="name"><input name="name" id="name" onselect="return formSubmit()" class="form-control" type="text">
              <span id="name_error" style="color: red"></span>
         </div>
        
          <label for="mobile" class="col-sm-2 control-label" id="mobile">Mobile <span id="astric">*</span></label>
           <div class="col-sm-4"><input name="mobile" onselect="return formSubmit()" id="mobile" maxlength="10" class="form-control" type="text">
              <span id="mobile_error" style="color: red"></span>
           </div>
        </div></div>

 <div class="col-sm-12">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" id="dest">State <span id="astric">*</span></label>
	 <div class="col-sm-4" id="district"><input name="district" id="destrict" onselect="return formSubmit()" class="form-control" type="text">
			 <span id="name_error" style="color: red"></span>
	  </div>
    <div id="st">
	<label for="name" class="col-sm-2 control-label" id="sta">district <span id="astric">*</span></label>
	<div class="col-sm-4" ><input name="state" id="state" onselect="return formSubmit()" class="form-control" type="text">
			<span id="name_error" style="color: red"></span>
	 </div>
  </div>
		<br><br><br>
		
	 
		<label for="serviceId" class="col-sm-2 control-label" id="em">Village/Town <span id="astric">*</span> <span id="astric"></span></label>
     <div class="col-sm-4"><input name="email" id="email" maxlength="20" class="form-control" type="text">
	   </div>
		
	  <label for="name" class="col-sm-2 control-label" id="vill_town">Email : </label>
	  <div class="col-sm-4"><input name="village_town" id="village_town" onselect="return formSubmit()" class="form-control" type="text">
			  <span id="name_error" style="color: red"></span>
	   </div><br><br><br>

	   

		</div></div>
		<!--<p>&#160</p>-->

      <!--<p>&#160</p>-->
      
      
    <div class="col-sm-12">
  	<div class="form-group">
       <label for="serviceName" class="col-sm-2 control-label" id="ser_name">Bank Name : <span id="astric"></span></label>
       <div class="col-sm-4">
		<!--
		<input name="serviceName" id="serviceName" class="form-control" type="text">
		-->
		<select name="service_name" id="service_name" class="form-control">
			<option >SBI</option>
			<option >BOB</option>
			<option >BOI</option>
			<option >PNB</option>
			<option >IB</option>
			<option >CBI</option>
			<option >BUGB</option>
			<option >Others</option>
		</select>
	   
<!--            <span id="bank_error" style="color: red"></span> -->
      </div>
      
      <label for="serviceId" class="col-sm-2 control-label" id="ser_id">Service Id / Kiosk Id / Bank Id : <span id="astric"></span></label>
      <div class="col-sm-4"><input name="service_id" id="service_id" maxlength="20" class="form-control" type="text">
<!--       	 <span id="serv_id_error" style="color: red"></span>	 -->
          <br><br>
     </div>
    </div>
	</div>		
    </div>
    		<br><br>
     <div class="col-sm-12" style="border:2px solid rgb(219, 214, 214); border-radius:0px 0px 10px 10px; padding-bottom:10px ; text-align: center;text-transform:capitalize;">
     <p id="legend">Complaint Box</p>
     <h4>If You Have Any Questions, Comments, Complaint Or Requests, Please Feel Free To Contact Us.</h4>
		 <div class="form-group">
  			<label for="Message">Your Message<span id="astric">*</span></label>
  			<textarea class="form-control" rows="4" name="message" required="required"  id="message" maxlength="320"></textarea>
		</div>
		<button type="reset" class="btn btn-default"><strong>Clear</strong></button>
		<button type="submit" onClick="return formSubmit()" class="btn btn-primary" ><strong>Submit</strong></button>
		
		</div>
	</form>
    </div>
  </div>

  
  <br><br>

</body>
</html>

{% endblock body %}