{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}



			<div data-elementor-type="wp-page" data-elementor-id="10997" class="elementor elementor-10997" data-elementor-post-type="page">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-3b6bf4c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="3b6bf4c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5fe2fb9" data-id="5fe2fb9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3cff46b elementor-widget elementor-widget-shortcode" data-id="3cff46b" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode">		<div data-elementor-type="wp-post" data-elementor-id="10163" class="elementor elementor-10163" data-elementor-post-type="elementor-hf">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-d68eeaf elementor-section-full_width elementor-section-content-middle elementor-hidden-tablet elementor-hidden-mobile elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="d68eeaf" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-5220e65 elementor-hidden-tablet elementor-hidden-mobile" data-id="5220e65" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-dcfc8cb" data-id="dcfc8cb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-30e9677 animated-slow elementor-widget elementor-widget-text-editor" data-id="30e9677" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p class="tracking-in-expand-fwd">Financial inclusion made simple</p>						</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-707d4b3" data-id="707d4b3" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-ddbc653 elementor-section-full_width elementor-section-content-middle elementor-hidden-desktop elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="ddbc653" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-97cd3af" data-id="97cd3af" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a994bc1 animated-slow elementor-widget elementor-widget-text-editor" data-id="a994bc1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p class="tracking-in-expand-fwd">Financial inclusion made simple</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-b954c11 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="b954c11" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b09b61d" data-id="b09b61d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-f693e0c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="f693e0c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c2abcb1" data-id="c2abcb1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9891561 elementor-widget elementor-widget-image" data-id="9891561" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" fetchpriority="high" width="834" height="935" src="https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1.png" class="attachment-full size-full wp-image-15139" alt="fiancial inclusion - Fia Global" srcset="https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1.png 834w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-268x300.png 268w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-768x861.png 768w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-700x785.png 700w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-21x24.png 21w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-32x36.png 32w, https://fiaglobal.com/wp-content/uploads/2022/04/India-Nepal-final-map-1-43x48.png 43w" sizes="(max-width: 834px) 100vw, 834px" />															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bc264ff" data-id="bc264ff" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a67c186 elementor-widget elementor-widget-text-editor" data-id="a67c186" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
													</div>
				</div>
				<div class="elementor-element elementor-element-df7ddf8 elementor-widget elementor-widget-heading" data-id="df7ddf8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h2 class="elementor-heading-title elementor-size-default">Proven market leader in
<h1 style="color: #688B2A; font-weight: 900;">Business Correspondent Services</h1></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-45dbdc5 elementor-pagination-position-inside elementor-widget elementor-widget-image-carousel" data-id="45dbdc5" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;dots&quot;,&quot;autoplay_speed&quot;:3000,&quot;speed&quot;:1500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-widget-image-carousel .swiper,.elementor-widget-image-carousel .swiper-container{position:static}.elementor-widget-image-carousel .swiper-container .swiper-slide figure,.elementor-widget-image-carousel .swiper .swiper-slide figure{line-height:inherit}.elementor-widget-image-carousel .swiper-slide{text-align:center}.elementor-image-carousel-wrapper:not(.swiper-container-initialized):not(.swiper-initialized) .swiper-slide{max-width:calc(100% / var(--e-image-carousel-slides-to-show, 3))}</style>		<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 3"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/03/Group-17372-1.png" alt="Group 17372 (1)" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 3"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/03/Group-17205-2.png" alt="Group 17205 (2)" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 3"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/03/Group-17204-2.png" alt="Group 17204" /></figure></div>			</div>
							
									<div class="swiper-pagination"></div>
									</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-7cf49b3 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="7cf49b3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ce83efd" data-id="ce83efd" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-99d3037 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="99d3037" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4aa1a5c" data-id="4aa1a5c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2e0e66f elementor-widget elementor-widget-heading" data-id="2e0e66f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our Impact</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-10afa42 elementor-widget elementor-widget-text-editor" data-id="10afa42" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Market Leader in Digital Payments and <br>
Business Correspondent Services						</div>
				</div>
				<div class="elementor-element elementor-element-3e20f25 elementor-widget elementor-widget-text-editor" data-id="3e20f25" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>FIA centers are located in underserved areas which often gives them near exclusivity in these locations. This has resulted in consistent footfalls at our centers.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-96ae5da elementor-widget elementor-widget-text-editor" data-id="96ae5da" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<h2><span style="color: #ffffff;">Financial Inclusion</span></h2>						</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5855abe" data-id="5855abe" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-45ea7b8 elementor-widget elementor-widget-image" data-id="45ea7b8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="1024" height="916" src="https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-1024x916.png" class="attachment-large size-large wp-image-15096" alt="remmitance" srcset="https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-1024x916.png 1024w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-300x268.png 300w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-768x687.png 768w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-700x626.png 700w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-24x21.png 24w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-36x32.png 36w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211-48x43.png 48w, https://fiaglobal.com/wp-content/uploads/2022/03/Mask-Group-211.png 1125w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
		
			{% endblock body %}