{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}



			<div data-elementor-type="wp-page" data-elementor-id="6798" class="elementor elementor-6798" data-elementor-post-type="page">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-6e81958 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="6e81958" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-06f76c5" data-id="06f76c5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ee5d830 elementor-widget elementor-widget-shortcode" data-id="ee5d830" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode">		<div data-elementor-type="wp-post" data-elementor-id="10163" class="elementor elementor-10163" data-elementor-post-type="elementor-hf">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-d68eeaf elementor-section-full_width elementor-section-content-middle elementor-hidden-tablet elementor-hidden-mobile elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="d68eeaf" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-5220e65 elementor-hidden-tablet elementor-hidden-mobile" data-id="5220e65" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-dcfc8cb" data-id="dcfc8cb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-30e9677 animated-slow elementor-widget elementor-widget-text-editor" data-id="30e9677" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p class="tracking-in-expand-fwd">Financial inclusion made simple</p>						</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-707d4b3" data-id="707d4b3" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-ddbc653 elementor-section-full_width elementor-section-content-middle elementor-hidden-desktop elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="ddbc653" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-97cd3af" data-id="97cd3af" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a994bc1 animated-slow elementor-widget elementor-widget-text-editor" data-id="a994bc1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p class="tracking-in-expand-fwd">Financial inclusion made simple</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-f5d7284 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no elementor-invisible" data-id="f5d7284" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-510728d" data-id="510728d" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-9841342 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="9841342" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
					<div class="has_eae_slider elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-e139948" data-id="e139948" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-46466a1 elementor-widget elementor-widget-heading" data-id="46466a1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h2 class="elementor-heading-title elementor-size-default">Become Our Partner</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-316db1b elementor-widget elementor-widget-heading" data-id="316db1b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Carve an Identity that makes your community proud</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2aa1458 elementor-align-left elementor-widget elementor-widget-button" data-id="2aa1458" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d10e50a elementor-widget elementor-widget-button" data-id="d10e50a" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="#fia-incentives">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-angle-right"></i>			</span>
						<span class="elementor-button-text">View Our Partner Incentives</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-65b0363" data-id="65b0363" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-1adc89c elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no elementor-invisible" data-id="1adc89c" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4bc2717" data-id="4bc2717" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-a79407e elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="a79407e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-dd80358" data-id="dd80358" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-03a8217 elementor-widget elementor-widget-image" data-id="03a8217" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" fetchpriority="high" width="668" height="750" src="https://fiaglobal.com/wp-content/uploads/2022/03/customers.svg" class="attachment-large size-large wp-image-10873" alt="Banking agents" />															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9c7298e" data-id="9c7298e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a788abf busine-contss elementor-widget elementor-widget-heading" data-id="a788abf" data-element_type="widget" id="busine-contss" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default">Banking Agents</h1>		</div>
				</div>
				<div class="elementor-element elementor-element-23aba83 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="23aba83" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Become a leader to <span style="font-weight:600">help 50 Million<br> customers </span>make the right decision <br>about their lives</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-e7e215f elementor-widget elementor-widget-heading" data-id="e7e215f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Become a leader to help 50 Million<br> customers make the right decision <br>about their lives</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ce7daec elementor-widget elementor-widget-button" data-id="ce7daec" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-63b3532 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no elementor-invisible" data-id="63b3532" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-769a52a" data-id="769a52a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-8138af6 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="8138af6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f0de946" data-id="f0de946" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a2e9c5a busine-contss elementor-widget elementor-widget-heading" data-id="a2e9c5a" data-element_type="widget" id="busine-contss" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Online Money Transfer</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c033da4 elementor-widget elementor-widget-heading" data-id="c033da4" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">FIA'S smart bill pay portal - Your key to enroll customers

</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-efece9f elementor-widget elementor-widget-button" data-id="efece9f" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:info@leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA  Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-797f92c busine-contss elementor-widget elementor-widget-heading" data-id="797f92c" data-element_type="widget" id="busine-contss" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Money Transfer </h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-341f1c8" data-id="341f1c8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9b2e7de elementor-widget elementor-widget-image" data-id="9b2e7de" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="741" height="764" src="https://fiaglobal.com/wp-content/uploads/2022/02/Mask-Group.png" class="attachment-large size-large wp-image-6846" alt="Online Money transfer - Fia Global" srcset="https://fiaglobal.com/wp-content/uploads/2022/02/Mask-Group.png 741w, https://fiaglobal.com/wp-content/uploads/2022/02/Mask-Group-291x300.png 291w, https://fiaglobal.com/wp-content/uploads/2022/02/Mask-Group-700x722.png 700w" sizes="(max-width: 741px) 100vw, 741px" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-c03246d elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no elementor-invisible" data-id="c03246d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-be84cc5" data-id="be84cc5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-f0e6df1 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="f0e6df1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-54cafe3" data-id="54cafe3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c3b846c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="c3b846c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default"> <span style="color:#688B2A">Your key to enroll customers </span>that you can <br>use to enroll customers</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-5b45eec elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="5b45eec" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Become the Change Agent in your Community <br>and Transform Financial Lives Everywhere</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ff32ea7 elementor-widget elementor-widget-heading" data-id="ff32ea7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">FIA'S smart bill pay portal


</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f43418c elementor-align-center elementor-widget elementor-widget-button" data-id="f43418c" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7910d3f elementor-widget elementor-widget-image" data-id="7910d3f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="1674" height="645" src="https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384.png" class="attachment-full size-full wp-image-13298" alt="" srcset="https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384.png 1674w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-300x116.png 300w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-1024x395.png 1024w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-768x296.png 768w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-1536x592.png 1536w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-700x270.png 700w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-24x9.png 24w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-36x14.png 36w, https://fiaglobal.com/wp-content/uploads/2022/03/Group-17384-48x18.png 48w" sizes="(max-width: 1674px) 100vw, 1674px" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-316055d elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="316055d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-589ac54" data-id="589ac54" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-46c3c08 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="46c3c08" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">PARTNER TESTIMONIAL</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-76d3917 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="76d3917" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">What our partner say?</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-01d54e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="01d54e2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-68862f5" data-id="68862f5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c714380 elementor-widget elementor-widget-heading" data-id="c714380" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Partner testimonial</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-127e816c testimonials elementor-widget elementor-widget-qi_addons_for_elementor_testimonials_slider" data-id="127e816c" data-element_type="widget" data-widget_type="qi_addons_for_elementor_testimonials_slider.default">
				<div class="elementor-widget-container">
			<div class="qodef-shortcode qodef-m  qodef-qi-testimonials-slider qodef--swiper-fade qodef-qi-grid qodef-qi-swiper-container qodef-item-layout--side-quote qodef-navigation--inside  qodef-pagination--outside qodef-pagination-alignment--end   qodef-navigation--hover-move" data-options="{&quot;direction&quot;:&quot;horizontal&quot;,&quot;slidesPerView&quot;:&quot;1&quot;,&quot;spaceBetween&quot;:30,&quot;spaceBetweenTablet&quot;:30,&quot;spaceBetweenMobile&quot;:30,&quot;effect&quot;:&quot;&quot;,&quot;loop&quot;:true,&quot;autoplay&quot;:true,&quot;centeredSlides&quot;:true,&quot;speed&quot;:&quot;&quot;,&quot;speedAnimation&quot;:&quot;&quot;,&quot;outsideNavigation&quot;:&quot;no&quot;,&quot;outsidePagination&quot;:&quot;yes&quot;,&quot;unique&quot;:&quot;1&quot;,&quot;partialValue&quot;:0,&quot;disablePartialValue&quot;:&quot;&quot;}">
	<div class="swiper-wrapper">
		<div class="qodef-e swiper-slide elementor-repeater-item-4cbff44">
	<div class="qodef-e-inner">
			<div class="qodef-e-quote">
		<svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 86 86" fill="none"><path d="M11 10.75V43H32.5C32.5 54.8519 22.8626 64.5 11 64.5V75.25C28.7832 75.25 43.25 60.7832 43.25 43V10.75H11Z" fill="#8EC62E"></path><path d="M53.75 10.75V43H75.25C75.25 54.8519 65.6126 64.5 53.75 64.5V75.25C71.5332 75.25 86 60.7832 86 43V10.75H53.75Z" fill="#8EC62E"></path></svg>	</div>
			<div class="qodef-e-content">
				<h3 itemprop="description" class="qodef-e-text">As a FIA Agent one message that I spread is that of trust. I have been able to get many customers since people trust the name and I am proud to be associated with FIA</h3>
			<div class="qodef-e-bottom-info">
									<div class="qodef-e-author">
		<h5 class="qodef-e-author-name">- Selvi Srinivas</h5>
					<span class="qodef-e-author-job">Tamil Nadu</span>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="qodef-e swiper-slide elementor-repeater-item-0d01143">
	<div class="qodef-e-inner">
			<div class="qodef-e-quote">
		<svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 86 86" fill="none"><path d="M11 10.75V43H32.5C32.5 54.8519 22.8626 64.5 11 64.5V75.25C28.7832 75.25 43.25 60.7832 43.25 43V10.75H11Z" fill="#8EC62E"></path><path d="M53.75 10.75V43H75.25C75.25 54.8519 65.6126 64.5 53.75 64.5V75.25C71.5332 75.25 86 60.7832 86 43V10.75H53.75Z" fill="#8EC62E"></path></svg>	</div>
			<div class="qodef-e-content">
				<h3 itemprop="description" class="qodef-e-text">I have been a FIA agent for the past 6 years. Here in my community, people know me as a FIA banking agent and I have been the trusted financial advisor for people in my village and nearby villages too. I cannot imagine any other career and I have been able to take care of my family’s needs with this income.</h3>
			<div class="qodef-e-bottom-info">
									<div class="qodef-e-author">
		<h5 class="qodef-e-author-name">- Kisan Dutta</h5>
					<span class="qodef-e-author-job">Uttarakhand</span>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="qodef-e swiper-slide elementor-repeater-item-85ef949">
	<div class="qodef-e-inner">
			<div class="qodef-e-quote">
		<svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 86 86" fill="none"><path d="M11 10.75V43H32.5C32.5 54.8519 22.8626 64.5 11 64.5V75.25C28.7832 75.25 43.25 60.7832 43.25 43V10.75H11Z" fill="#8EC62E"></path><path d="M53.75 10.75V43H75.25C75.25 54.8519 65.6126 64.5 53.75 64.5V75.25C71.5332 75.25 86 60.7832 86 43V10.75H53.75Z" fill="#8EC62E"></path></svg>	</div>
			<div class="qodef-e-content">
				<h3 itemprop="description" class="qodef-e-text">I have over 4000 customers in my area. I have been serving them for the past 4 years. FIA is here to provide me with any help I need and I am confident I will increase my customer base soon.</h3>
			<div class="qodef-e-bottom-info">
									<div class="qodef-e-author">
		<h5 class="qodef-e-author-name">- Poonam Gupta</h5>
					<span class="qodef-e-author-job">Uttar Pradesh</span>
			</div>
			</div>
		</div>
	</div>
</div>
	</div>
		<div class="swiper-button-prev"><svg class="qodef-swiper-arrow-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 34.2 32.3" xml:space="preserve" style="stroke-width: 2;"><line x1="0.5" y1="16" x2="33.5" y2="16"/><line x1="0.3" y1="16.5" x2="16.2" y2="0.7"/><line x1="0" y1="15.4" x2="16.2" y2="31.6"/></svg></div>
	<div class="swiper-button-next"><svg class="qodef-swiper-arrow-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 34.2 32.3" xml:space="preserve" style="stroke-width: 2;"><line x1="0" y1="16" x2="33" y2="16"/><line x1="17.3" y1="0.7" x2="33.2" y2="16.5"/><line x1="17.3" y1="31.6" x2="33.5" y2="15.4"/></svg></div>
</div>
	<div class="swiper-pagination qodef-swiper-pagination-outside swiper-pagination-1"></div>
		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-75e0d82 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="75e0d82" data-element_type="section" id="distributor" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-69d1188" data-id="69d1188" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d3c64b9 elementor-widget elementor-widget-heading" data-id="d3c64b9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Become a  Distributor</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-d36f22d elementor-widget elementor-widget-heading" data-id="d36f22d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Do you have a network with <br>you already?</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f1472fe elementor-widget elementor-widget-text-editor" data-id="f1472fe" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							We have an easy onboarding process which will not only help you <br>with your earnings but also provide you with easy access to an <br>exclusive portal for transactions and hundreds of banking products <br>and services instantly.						</div>
				</div>
				<div class="elementor-element elementor-element-e390d58 elementor-widget elementor-widget-button" data-id="e390d58" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-3462ad0 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no elementor-invisible" data-id="3462ad0" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3c70114" data-id="3c70114" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-e7142d3 elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="e7142d3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2f13cf1" data-id="2f13cf1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-db758fa elementor-widget elementor-widget-image" data-id="db758fa" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" loading="lazy" width="535" height="470" src="https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage.jpg" class="attachment-large size-large wp-image-21141" alt="" srcset="https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage.jpg 535w, https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage-300x264.jpg 300w, https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage-24x21.jpg 24w, https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage-36x32.jpg 36w, https://fiaglobal.com/wp-content/uploads/2022/10/FIA-webpage-48x42.jpg 48w" sizes="(max-width: 535px) 100vw, 535px" />															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-154ec7b" data-id="154ec7b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8033b6e elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="8033b6e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">The  <span style="color:#688B2A"> FIA Advantage</span></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9d607eb elementor-widget elementor-widget-heading" data-id="9d607eb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">The FIA Advantage</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-179dc28 animated-slow elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="179dc28" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
			<link rel="stylesheet" href="https://fiaglobal.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Easy KYC Process</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Easy documentation Process for onboarding</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Minimal investment required</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Easy to access portal for transactions</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">24/7 Customer Support Team for Query Resolution</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Industry Leader in Business Correspondent Services</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-hand-point-right"></i>						</span>
										<span class="elementor-icon-list-text">Assistance with Training and Certification for career development</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-0304fe6 elementor-widget elementor-widget-button" data-id="0304fe6" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="mailto:leads@fiaglobal.com">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Join FIA Today</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-3837cbb elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="3837cbb" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e41144f" data-id="e41144f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-870a3a5 elementor-widget elementor-widget-html" data-id="870a3a5" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<a id="fia-incentives"></a>		</div>
				</div>
				<div class="elementor-element elementor-element-95c2c8d elementor-widget elementor-widget-heading" data-id="95c2c8d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Attractive Incentive Schemes for our Partners</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-5fd35db elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="5fd35db" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;3&quot;,&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 20-08-2023 */
.elementor-widget-image-carousel .swiper,.elementor-widget-image-carousel .swiper-container{position:static}.elementor-widget-image-carousel .swiper-container .swiper-slide figure,.elementor-widget-image-carousel .swiper .swiper-slide figure{line-height:inherit}.elementor-widget-image-carousel .swiper-slide{text-align:center}.elementor-image-carousel-wrapper:not(.swiper-container-initialized):not(.swiper-initialized) .swiper-slide{max-width:calc(100% / var(--e-image-carousel-slides-to-show, 3))}</style>		<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 5"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-1-150x150.jpg" alt="Distributor incentive for “Azadi Ka Amrit Mahotsav”" /><figcaption class="elementor-image-carousel-caption">Distributor incentive for “Azadi Ka Amrit Mahotsav”</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 5"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-3-150x150.jpg" alt="CSP incentive for “Azadi Ka Amrit Mahotsav”" /><figcaption class="elementor-image-carousel-caption">CSP incentive for “Azadi Ka Amrit Mahotsav”</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 5"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-5-150x150.jpg" alt="Incentive our SBI CSPs" /><figcaption class="elementor-image-carousel-caption">Incentive our SBI CSPs</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 5"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-6-150x150.jpg" alt="CSP special offer on increasing transactions" /><figcaption class="elementor-image-carousel-caption">CSP special offer on increasing transactions</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="5 of 5"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-8-150x150.jpg" alt="CSP incentive for opening more Bank Accounts" /><figcaption class="elementor-image-carousel-caption">CSP incentive for opening more Bank Accounts</figcaption></figure></div>			</div>
												<div class="elementor-swiper-button elementor-swiper-button-prev" role="button" tabindex="0">
						<i aria-hidden="true" class="eicon-chevron-left"></i>					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next" role="button" tabindex="0">
						<i aria-hidden="true" class="eicon-chevron-right"></i>					</div>
				
									<div class="swiper-pagination"></div>
									</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-446d1dd elementor-section-boxed elementor-section-height-default elementor-section-height-default parallax_section_no qode_elementor_container_no" data-id="446d1dd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f9682f" data-id="2f9682f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-340292b elementor-widget elementor-widget-heading" data-id="340292b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">पूरे भारत में</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4401b2b elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="4401b2b" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;3&quot;,&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
								<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-2-1-150x150.jpg" alt="Distributor incentive for “Azadi Ka Amrit Mahotsav”" /><figcaption class="elementor-image-carousel-caption">Distributor incentive for “Azadi Ka Amrit Mahotsav”</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-4-150x150.jpg" alt="CSP incentive for “Azadi Ka Amrit Mahotsav”" /><figcaption class="elementor-image-carousel-caption"> CSP incentive for “Azadi Ka Amrit Mahotsav”</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-7-150x150.jpg" alt="CSP incentive for increasing Special Security Schemes" /><figcaption class="elementor-image-carousel-caption">CSP incentive for increasing Special Security Schemes</figcaption></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="https://fiaglobal.com/wp-content/uploads/2022/09/incentive-9-150x150.jpg" alt="Distributors incentive for opening more Bank Accounts" /><figcaption class="elementor-image-carousel-caption">Distributors incentive for opening more Bank Accounts</figcaption></figure></div>			</div>
												<div class="elementor-swiper-button elementor-swiper-button-prev" role="button" tabindex="0">
						<i aria-hidden="true" class="eicon-chevron-left"></i>					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next" role="button" tabindex="0">
						<i aria-hidden="true" class="eicon-chevron-right"></i>					</div>
				
									<div class="swiper-pagination"></div>
									</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
			{% endblock body %}