{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/received_complaints.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/compaints/complaint/bootstrap_files/bootstrap.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.4" ></script>
    <title>Received Compalints</title>
</head>

<body>


    <div class="container" ;>



        <table class="table">
            <h2 style="color: darkred; font-family: algerian;">Pending complaints</h2>
            <thead>
                <tr class="tablerow">
                    <th scope="col">Sno</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bank Name</th>
                    <th scope="col">Service ID</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Complaint</th>
                    <th scope="col" name="ticket_number">Ticket Number</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>

                {% for complaint in allComplaints %}

                <tr class="tablerow">
                    <th scope="row"> {{loop.index}} </th>
                    <td> {{complaint.name}} </td>
                    <td> {{complaint.service_name}} </td>
                    <td> {{complaint.service_id}} </td>
                    <td> {{complaint.mobile}} </td>
                    <td> {{complaint.message}} </td>
                    <td><a href="#" id="ticket"> FIA{{loop.index}}</a> </td>
                    
                    
                    <td> {{complaint.date_created}} </td>
                    
                </tr>

                {% endfor %}



            </tbody>
        </table>
    </div>

</body>

</html>


{% endblock body %}