<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <table class="table">
            <h2 style="color: #000000;">Pending complaints</h2>
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bank Name</th>
                    <th scope="col">Service ID</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Complaint</th>
                    <th scope="col" name="ticket_number">Ticket Number</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
      
                {% for result in results %}
      
                <tr>
                    <td> {{complaint.name}} </td>
                    <td> {{complaint.service_name}} </td>
                    <td> {{complaint.service_id}} </td>
                    <td> {{complaint.mobile}} </td>
                    <td> {{complaint.message}} </td>
                    <td><a href="#" id="ticket"> FIA0000{{loop.index}}</a> </td>
                    <td> {{complaint.date_created}} </td>
                    
                </tr>
      
                {% endfor %}
      
      
      
            </tbody>
        </table>
    </div>
    
</body>
</html>