{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Message Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/CSS/thankyou.css">
  <link rel="stylesheet" href="bootstrap_files/bootstrap.min.css">
  <style type="text/css">
  body{
  font-family: Times New Roman;
  color: #000000;
  }

#legend {
    background: #1f497d none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #ddd;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    padding: 5px 10px;
    width: 27%;
}
  </style>
</head>
<body>
<div class="container" style="padding-bottom:20px; padding-top: 10px;">
  <div class="row">
    <div class="col-sm-12" style=" border:2px solid; border-radius:0px 0px 10px 10px; text-align: center; ">
    <p id="legend">Complaint Box</p>
     <img src="../static/images/success_icon.png" height="100" width="100" />
      <p style="color: green; padding: 30px; font-size: 16px;">We have registered your request and the ticket no. is {% for complaint in allComplaints %} FIA0000{{loop.index}} {% endfor %} Issue will be resolved soon and we will update you. Thank you  - FIA Support Team</p>
      
      <br>
    </div>
  </div>
  <p style="text-align: center; padding: 50px;">FIA Technologies Service Pvt. Ltd.</p>
  
</div>

</body>
</html>


{% endblock body %}